.login {
    background: linear-gradient(to right, #ff9671, #f9f871);
}

.content {
    width: 360px;
    position: 'absolute';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}